/UnityPro/OpenNinja/*
!/UnityPro/OpenNinja/Assets
!/UnityPro/OpenNinja/Packages
!/UnityPro/OpenNinja/ProjectSettings
ehthumbs.db
Thumbs.db
.DS_Store
.DS_Store?
*.svd
*.userprefs
*.pidb
*.suo
*.user
*.unityproj
*.booproj
